html,body,.col-md-12,.row {
  height:100%;
}
.row > div {
  height:100%;
}
  
/* to make delete buttons */
ul li{
    list-style: none;
    background: gray;
    font-size:15px;
    margin:0 0 10px;
    border-radius: 5px;
    padding: 10px;
}
.deleteMe{
    float: right;
    background: yellow;
}

/* to make checkboxes */
label {
 border:1px solid #ccc;
 padding:10px;
 margin:0 0 10px;
 display:block; 
}
label:hover {
 background:#eee;
 cursor:pointer;
}  
  
/* to make columns visible */
.row .col-sm-6 {
  background-color:#eee;
}
.row .col-sm-6 {
  background-color:#ddd;
}